{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css">

    <title>DL Hackathon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submit-btn').click(function (e) {
                e.preventDefault();
                var inputText = $('#input-text').val();

                // Show loader
                $('#image-container').html('<div class="spinner"></div>');

                $.ajax({
                    url: '{% url "get-image" %}',
                    data: {
                        'input_text': inputText
                    },
                    success: function (data) {
                        if (data.image_url) {
                            var url = data.image_url;
                            var finalLink = '<img src="/static/';
                            finalLink = finalLink.concat(url);
                            finalLink = finalLink.concat('" alt="Image">');

                            // Remove loader and display image
                            $('#image-container').html(finalLink);
                        } else {
                            $('#image-container').html('<p>No image found.</p>');
                        }
                    },
                    error: function () {
                        // Handle error case
                        $('#image-container').html('<p>Error fetching image.</p>');
                    }
                });
            });
        });
    </script>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="{% static 'assets/img/logo.png' %}" alt="">
                | 
                <img src="{% static 'assets/img/iit.png' %}" alt="">
                <!-- <h1>Badshah The Boys</h1> -->
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/" class="active">Home</a></li>
                    <!-- <li><a href="/about">About</a></li> -->
                    <li><a target="_blank" href="https://faculty.iitmandi.ac.in/~aditya/hackathon/">Problem Statements</a></li>
                    <li><a target="_blank" href="https://drive.google.com/drive/folders/1k6DRQc6SVCAtcd9jHvXYsOB6ZXjKwuTf">Dataset</a></li>
                    <li>
                        <a href="https://diffusionui.com/" target="_blank">
                        <button class="btn btn-warning rounded-pill shadow-sm" style="transition: box-shadow 0.3s ease, transform 0.3s ease;" onmouseover="this.style.boxShadow='0 6px 9px rgba(0, 0, 0, 0.1)'; this.style.transform='translateY(-2px)';" onmouseout="this.style.boxShadow='0 3px 5px rgba(0, 0, 0, 0.1)'; this.style.transform='translateY(0px)';">SOTA</button>
                        </a>
                </li>

                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-between">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h2 data-aos="fade-up">Class Conditional Image Generation</h2>
                    <p data-aos="fade-up" data-aos-delay="100">Using Diffusion Models for Image Generations</p>

                    <form class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" id="input-text" class="form-control" placeholder="Enter Prompt">
                        <button type="submit" class="btn btn-primary" id="submit-btn">Generate</button>
                    </form>

                    <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                    </div>
                </div>

                <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" id="image-container"
                    style="z-index: 100;">
                </div>

            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                        <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
                        <div>
                            <h4 class="title">Image Generation</h4>
                            <p class="description">We're working with two datasets: alphanumeric and Animal 10, each
                                with distinct classes. Our goal is to generate images that showcase the diversity within
                                these datasets. By combining advanced techniques and machine learning, we aim to create
                                visually striking and informative imagery. Through this project, we hope to push the
                                boundaries of creativity and computational understanding, contributing to the field of
                                artificial intelligence and visual data interpretation. </p>
                            <!-- <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                                    class="bi bi-arrow-right"></i></a> -->
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
                        <div>
                            <h4 class="title">Interactive and Responsive Website</h4>
                            <p class="description">Explore our dynamic website showcasing our cutting-edge image generation model. Visitors can witness real-time insights into the creation process using alphanumeric and Animal 10 datasets. Our user-friendly interface demystifies machine learning complexities, highlighting AI's artistic potential. Whether you're a technologist, enthusiast, or aspiring artist, dive into computational creativity on our platform. </p>
                            <!-- <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                                    class="bi bi-arrow-right"></i></a> -->
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
                        <div>
                            <h4 class="title">Different Models for training on GPU</h4>
                            <p class="description">Our system underwent extensive training, lasting 4-5 hours each, across various Gen AI models. Meticulous training and fine-tuning have honed our models for exceptional performance across diverse tasks and datasets. This intensive process equips our system with versatility and adaptability to tackle complex challenges in image generation, text completion, and more. With each session, we push the boundaries of AI, striving for innovation and excellence in every endeavor.</p>
                            <!-- <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                                    class="bi bi-arrow-right"></i></a> -->
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>
        </section><!-- End Featured Services Section -->

        
        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row gy-4 flex">

                    <div class="col-xl-4 col-md-6 service-item d-flex" data-aos="fade-up">
                        <div>
                            <h1 class="title" style="font-size: large;">Results</h1>
                            <p class="description">
                                We built seperate diffusion models with different architectures
                                for both the types of dataset. Their FIDs are as follows -
                                <ul>
                                    <li>For alphanumeric dataset - </li>
                                    <li>For Animal-10 dataset - </li>
                                </ul> 
                            
                            </p>

                            <!-- <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                                    class="bi bi-arrow-right"></i></a> -->
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-xl-4 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div>
                            <h4 class="title">Conclusions</h4>
                            <p class="description"></p>
                            <!-- <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                                    class="bi bi-arrow-right"></i></a> -->
                        </div>
                    </div><!-- End Service Item -->


                </div>

            </div>
        </section><!-- End Featured Services Section -->
    </main><!-- End #main -->


    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>